<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <table>  
        <thead>  
            <tr>  
                <th>Product Name</th>  
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>  
            </tr>  
        </thead>  
         <tbody>  
         <% producttable.forEach(function (product) { %>
            <tr>  
                <td><%= product.name %></td>  
                <td><%= product.price %></td>
                <td><%= product.description %></td>
                <td><img src = "http://localhost:3000/images/<%= product.image %>" width="80px" height="80px"></td>
                <td><a href="/delete?id=<%= product.id %>">Delete</a></td>
                <td><a href="/updateproduct?id=<%= product.id %>">Update</a></td>
            </tr>                                   
         <% }) %>
         </tbody>
    </table>   
</body>
</html>