<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
</head>
<body>
    <h1>Update Product</h1>
    <form action="/updateproduct" method="POST" enctype="multipart/form-data"> 
        <% updateproduct.forEach(function (product) { %>
        <label>Product Name</label><br>
        <input type="hidden" name ="productId" value="<%= product.id %>">
        <input type="text" name="productName" value="<%= product.name %>"><br>
        <label>Price</label><br>
        <input type="text" name="productPrice" value="<%= product.price %>"><br>
        <label>Description</label><br>
        <input type="text" name="productDescription" value="<%= product.description %>"><br>
        <label>Product Image</label><br>
        <input type="file" name="productImage" value="<%= product.image %>"><br><br>
        <button type="submit" name="submit">Save</button>
        <% }) %>
    </form>
</body>
</html>